
.container {
    width: 100%;
    min-height: 100vh;
    background :linear-gradient(135deg, #3b5280, #08525f);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.game {
    background-color: #232127;
    width: 100%;
    max-width: 700px;
    height: 50vh;
    border-radius: 10px; 
   
}

h1 {
    margin-left:20px;
    color: #ebe8e8;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #0a19f5;
    color:#fff;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 20px;
}

#enter {
    background: #a00a0a;
    margin-left: 220px;
}